.App {
    text-align: center;
    background-color:green;
    }
    
    .label{
    display: block;
    font-size: larger;
    color: white;
    padding: 5px;
    }
    
    .input{
    font-size: larger;
    padding: 5px;
    margin: 2px;
    
    }
    .btn{
    color: white;
    background-color: red;
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px;
    margin: 10px auto;
    }
    
    .messages{
    display: flex;
    justify-content: center;
    }
    
    .error{
    display: block;
    background-color: red;
    color: white;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }
    
    .success{
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }
    
    .searchBox{ 
        border: none;
        font-size: 10px;
        min-height: 50px;
      }


      .inputField{ 
        margin: -10px;
    }

    .chips{ 
      background: red;
    }

    .optionContainer{  
      border: 5px solid;
    }

    .option{ 
      color: red;
    }
    
    
    /* .multiselectContainer{ // To change css for multiselect (Width,height,etc..)
        ....
      } */
      /* searchBox: { // To change search box element look
        border: none;
        font-size: 10px;
        min-height: 50px;
      },
      inputField: { // To change input field position or margin
          margin: 5px;
      },
      chips: { // To change css chips(Selected options)
        background: red;
      },
      optionContainer: { // To change css for option container 
        border: 2px solid;
      },
      option: { // To change css for dropdown options
        color: blue;
      },
      groupHeading: { // To chanage group heading style
        ....
      }
     */